body {padding:6em; background:#fcfcfc;}

.wrap {width:200px; margin:auto;  z-index:1;}

.msg {
  color: whitesmoke;
  text-align:center;
  font-family: 'Bree Serif', Courier, monospaced;
  font-size:3.5em;
  width:200px;
  position:absolute;
  margin:55px 0 0 2px;
  pointer-events: none; 
}

.sticker {
  width:200px;
  height:200px;
  position:absolute;
  background: url(sticker.png) top center no-repeat; 
  animation: spin 10s linear infinite;
  animation-play-state:paused;
}

.sticker:hover {
  animation-play-state:running;
}

@keyframes spin {
  100%{transform: rotate(1turn);}
}

















